.analytics-page{
  padding:40px;
  text-align:center;
  background:#f4f6f9;
  min-height:100vh;
}

.analytics-page h1{
  color:#2563eb;
  margin-bottom:30px;
}

.analytics-cards{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.analytics-card{
  width:220px;
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.analytics-card h2{
  color:#2563eb;
  font-size:40px;
}